@font-face{
	font-family: "Open sans";
	src: url(fonts/opensansbold.woff);
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: "Open sans";
	src: url(fonts/opensans.woff2);
	src: url(fonts/opensans.woff);
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Open sans";
	src: url(fonts/opensanslight.woff2);
	src: url(fonts/opensanslight.woff);
	font-weight: 300;
	font-style: normal;
}

body{
	margin: 0;
	background-color: #f6f5f3;
	font-family: "Open sans", Arial, sans-serif;
}

.container{
		margin: 0;
		padding: 0;
}

@media (min-width: 900px){
	.container{
		margin: 0 auto;
		max-width: 900px;
	}
}

.main-header{
	background: linear-gradient(136deg, #ffdb4d 5%, #ffffff 5%);
	margin: 0;
	padding: 0;
	padding-top: 25px;
	padding-bottom: 25px;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	position: relative;
}

.main-header__triangle{
	position: absolute;
    top: 0;
	height: 100%;
}

.main-header path{
	fill: #ffdb4d;
}

.main-header__title{
	text-align: center;
	font-size: 34px;
	margin: 0;
	padding: 0;
}

.text--yellow{
	color: #ffdb4d;
}

.lecture{
	padding-bottom: 25px;
	padding-top: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
/*	background: linear-gradient(134deg, #ffdb4d 12%, #ffffff 5%);*/
	background-color: #fff;
	cursor: pointer;
	box-shadow: 0 1px 4px 0 rgba(32,33,36,0.28);
}

.lecture__triangle{
	position: absolute;
    top: 0;
	height: 100%;
}

.lecture__triangle path{
	fill: #ffdb4d;
	transition: all 0.3s;
	transition-timing-function: ease-in-out;
}

.lecture.active .lecture__triangle path{
	d: path("m 0 0 h 821 L -123.49 806 v 0 Z");
}

.lecture.lecture--nolist .lecture__triangle path{
	d: path("m 0 0 h 123 l -123.4896 123 v 0 Z");
}

.lecture.active{
/*	background: linear-gradient(90deg, #ffdb4d 13%, #ffffff 5%);*/
}

.lecture.lecture--nolist{
/*	background: linear-gradient(134deg, #ffdb4d 12%, #ffffff 5%);*/
	cursor: auto;
}

.lecture.lecture--nolist .lecture__title{
	cursor: auto;
}

.lecture.lecture--nolist .lecture__date{
	cursor: auto;
}

.lecture__title{
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	cursor: pointer;
}

.lecture__date{
	text-align: center;
	font-size: 20px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.lecture::after{
	content: "Подробнее";
	position: absolute;
	bottom: 20px;
	right: 20px;
	opacity: 0.3;
}

.lecture:hover::after{
	opacity: 0.6;
}

.lecture.active::after{
	content: "Свернуть";
}

.lecture.lecture--nolist::after{
	content: "";
}

.thesis-list{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 12%;
	cursor: pointer;
}

.thesis-list__item{
	position: relative;
	padding-left: 29px;
}

.thesis-list__item p{
	font-size: 20px;
}

.thesis-list__item:last-child p{
	margin-bottom: 0;
}

.thesis-list__item::before{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: -11px;
	transform: translateY(-44%);
	height: 9px;
	width: 9px;
	border-radius: 50%;
	background-color: #ffffff;
}

.thesis-list{
	max-height: 0;
/*	display: none;*/
	transition: max-height .2s;
	transition-timing-function: linear;
	overflow: hidden;
}

.lecture.active .thesis-list{
/*	display: block;*/
	max-height: 480px;
}

.show-list{
	display: none;
}

/*
.show-list:checked + .thesis-list{
	display: block;
	height: auto;
}
*/

@media (max-width: 930px){
	
	.main-header{
		background: linear-gradient(90deg, #ffdb4d 16%, #ffffff 5%);
	}
	
	.main-header__triangle{
		display: none;
	}
	
	.lecture__triangle{
		display: none;
	}
	
	.lecture{
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
		-webkit-tap-highlight-color: transparent;
	}
	
	.lecture::before{
		content: "";
		height: 100%;
		width: 6%;
		background-color: #ffdb4d;
		position: absolute;
		top: 0;
		left: 0;
		transition: width 0.1s;
		transition-timing-function: linear;
	}
	
	.lecture.active::before{
		width: 13%;
	}
	
	.lecture.lecture--nolist::before{
		width: 6%;
	}
	
	.lecture::after{
		bottom: 10px;
		right: 10px;
		font-size: 15px;
	}
	
	.lecture:hover::after{
		opacity: 0.3;
	}
	
	.lecture__title{
		font-size: 26px;
		max-width: 480px;
    	margin: 0 auto;
	}	
	
	.lecture__date{
		font-size: 18px;
	}	
	
	
	.thesis-list__item{
		padding-left: 2%;
	}
	
}

@media (max-width: 600px){
	
	.main-header{
		background: linear-gradient(90deg, #ffdb4d 8%, #ffffff 5%);
	}
	
	.lecture.active::before{
		width: 10%;
	}
	
	.lecture.lecture--nolist::before{
		width: 6%;
	}
	
	.lecture__title{
		font-size: 24px;
		max-width: 370px;
	}
	
	.lecture::after{
		font-size: 13px;
	}
	
	.thesis-list{
		padding-left: 9%;
	}
	
	.thesis-list__item p {
    	font-size: 18px;
	}
	
}

@media (max-width: 400px){
	
	.main-header__title{
		font-size: 30px;
		margin: 0 auto;
    	max-width: 280px;
	}
	
	.lecture__title{
		font-size: 20px;
		max-width: 280px;
	}
	
	.lecture__date{
		font-size: 16px;
	}
	
	.lecture.active::before{
		width: 11%;
	}
	
	.lecture.lecture--nolist::before{
		width: 6%;
	}
	
	.thesis-list{
		padding-left: 10%;
	}
	
	.thesis-list__item{
		padding-left: 3%;
	}
	
	.thesis-list__item p {
    	font-size: 16px;
	}
	
	.thesis-list__item::before{
		left: -4.5%;
	}	
}

@media (max-width: 340px){
	
	.lecture.active::before{
		width: 9%;
	}
	
	.lecture.lecture--nolist::before{
		width: 6%;
	}
	
	.thesis-list{
		padding-left: 8%;
	}
	
}
